/* GERAL */

body {
	color: #4d4d4d;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 18px;
	
	width: 100%;
}
.container {
	width: 100%;
	margin: 0 auto;
}
h1, h2, h3{
	font-family: 'Baloo', Helvetica, Arial, sans-serif;
	font-size: 2em;
}
h3 {
	font-size: 15px;
}
h2, h3, .cabecalhoPrincipal-nav-link {
	text-transform: uppercase;
}
h4 {
	color: #898989;
	font-weight: 700;
}
.about-p {
	font-size: 20px;
	font-weight: 700;
}

/* NAVEGACAO */

.cabecalhoPrincipal {
	background-color: #eee;
	opacity: 0.9; 
	filter: alpha(opacity=60);
	width: 100%;
}
.cabecalhoPrincipal .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cabecalhoPrincipal ul {
	padding: 5px;
	display: flex;
	align-items: center;
}
.cabecalhoPrincipal-nav-link {
	padding: 15px;
	margin: 5px;
	color: #898989;
	transition: .5s;
	font-weight: bold;
	font-size: 14px;
	display: block;
}


/* CABECALHO */

header {
	background-image: url(../imagens/capa.jpg);
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10em;
	width: 100%;
}
.img-circle {
	align-items: center;
	border: 5px solid #ccc;
	width: 150px;
	height: 150px;
}

/* SOBRE */
#sobre {
	width: 100%;
}
.sobre {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	line-height: 1.6;
}
.botao {
	margin: 10px;
}
.botao a {
	padding: 15px;
}


/* HABILIDADES */

#habilidades {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.habilidades figure{ 
	padding-bottom: 30px;
}

/* PERSONALIDADE */

#personalidade {
	padding-top: 50px;
}

.personalidade {
	background-color: #dfdfdf;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	padding: 50px;
	width: 100%;
}
.img-personalidade {
	box-sizing: border-box;
}
.imagens {
	background-color: #FFF;
	border-radius: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.img-descricao {
	padding: 10px;
	font-size: 20px;
}

/* CONTATO */

.contato {
	align-items: center;
	text-align: center;
	padding: 50px 1px 50px 0 ;
	width: 100%;
}

.form {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	width: 100%;
}

.botao-form {
	display: flex;
	align-items: center;
	padding: 1em 2em;
	margin-bottom: 5em;
}

/* RODAPE */

.rodape {
	display: flex;
	text-align: center;
	justify-content: space-around;

	background-color: #46b8da;
	padding: 20px;
	color: #FFF;
	width: 100%;
}

/* MEDIA QUERIES */

@media screen and ( min-width: 768px){
	
	/* NAVEGACAO */
	.cabecalhoPrincipal {
		position: fixed;
	}
	.cabecalhoPrincipal .container {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.cabecalhoPrincipal ul {
		flex-direction: row;
		width: 100%;
	}
	
	/* CABECALHO */
	header {
		height: 50em;
		justify-content: center;
	}
	.about-me {
		height: 3vh;
	}
	
	/* SOBRE */
	
	#sobre {
		display: block;
		flex-direction: row;
	}
	.sobre p {
		align-items: center;
		width: 40%;
	}
	
	/* HABILIDADES */
	
	#habilidades {
		padding: 100px 0;
	}
	
	.habilidades {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		flex-wrap: wrap;
	}
	
	/* PERSONALIDADE */

	.personalidade .container {
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;

    
    
	}

}
